@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);

img {
  vertical-align:bottom;
  border-style:none
}

footer,header,main,nav{display:block}

body {
  margin:0;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#101219;
  text-align:left;
  background-color: #2B2B32;
}

ul {
  margin-top:0;
  margin-bottom:1rem
}

a {
  text-decoration:none;
}


.navbar {
  position:relative;
  display: flex;
  align-items:center;
  top:0;
  right:0;
  left:0;
  background:#101219;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.navbar-logo {
  margin-right: auto;
}

.navbar-nav{
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  right: 0;
  list-style: none;
  margin-right: 0;
}

.navbar-menu{
  flex-grow: 1;
  display: flex !important;
}

.navbar .navbar-nav .navbar-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color:#787878;
  font-weight:600;
  font-size:0.78rem;
}

.navbar .navbar-nav .navbar-link:hover{
  color:whitesmoke;
}

.mr-auto {margin-right:auto !important}

.navbar:after{
  content: "";
  background: linear-gradient(to left, #E1A128, #654BCE);
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
  transform: translateX(-25px);
}

.text {
  color: whitesmoke;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  text-align: center;
  text-justify: inter-word;
  width: 900px;
}

.footer {
  position:fixed;
  display: flex;
  align-items:center;
  bottom:0;
  left:0;
  right: 0;
  background:#101219;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 10px;
}

.footer:before{
  content: "";
  background: linear-gradient(to left, #E1A128, #654BCE);
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  display: block;
  transform: translateX(-25px);
}

.footer-logo {
  margin-right: 0;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: 0;
}

.social-icons a:hover {
  color: #E1A128;
}

