.navMenu {
  padding: 15px 15px 15px 15px;
  word-spacing: 10px;
  text-align: right;

}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  word-spacing: 1px;
}

header {
  background: #404040;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


body {
  background: #606060;
  color : beige;
}


.navMenu .underline {
  width: 0px;
  height: 3px;
  background: #f6f4e6;
  border-radius: 50px;
  display: flex;
  opacity: 0;
}

.split {
  height: 3px;
  background: linear-gradient(to left, #E1A128, #654BCE);
}

.navMenu a:nth-child(2):hover ~ .underline {
  width: 50px;
  transform: translateX(1315px);
  transition: width 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .underline {
  width: 50px;
  transform: translateX(1450px);
  transition: width 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .underline {
  width: 50px;
  transform: translateX(1635px);
  transition: width 0.2s ease-in-out;
  opacity: 1;
}


.navMenu a:nth-child(5):hover ~ .underline {
  width: 50px;
  transform: translateX(1800px);
  transition: width 0.2s ease-in-out;
  opacity: 1;
}

hr.solid {
  background: linear-gradient(to left, #E1A128, #654BCE);
  height: 2px;
  border: transparent;
}


titre {
  font-size: 1.8em;
  font-style : bold;
  color : beige;
  text-align: center;
}
